<!DOCTYPE html>
<html>
<head>
  <meta charset = "UTF-8">
  <meta name = "viewport" content= "width = device-width, initial-scale = 1.0">
  <link rel = "stylesheet" type = "text/css" href = "/styles/styles.css">
</head>

<body>
  <div class="sidenav">
    <img src="/WWRanchLogo.JPG" style="width:100%"  alt="WWRanchLogo">
    <a href= 'volunteerRegistration'>Volunteer Registration</a>
  </div>
  <div>
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content">
    <div class="container">
      <a href='volunteerRegistration'>Add Another Volunteer</a>
      <a href='volHome'>Go to the home page</a>
    </div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
</script>

</body>
</html>
