<!DOCTYPE html>
<html>
<head>
  <meta charset = "UTF-8">
  <meta name = "viewport" content= "width = device-width, initial-scale = 1.0">
  <link rel = "stylesheet" type = "text/css" href = "/styles/styles.css">
</head>

<body>
  <div class="sidenav">
    <img src="/WWRanchLogo.JPG" style="width:100%"  alt="WWRanchLogo">
    <a href= '/'>Return to Home Page</a>
  </div>
  <div>
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    <form class="modal-content" action = "insertGroup" method = "POST">
      <div class="container">
        <h1>Group Registration</h1>
        <p>Please complete the form below. Fields marked with * are required.</p>
        <hr>
        <h2>For housing purposes, please enter the following information about your mission group</h2>
        <label for = "groupname"><b>Group Name*</b></label>
        <input type = "text" placeholder = "Enter Group Name" name = "groupname" required>
        <label for = "nummales"><b>Number of Males*</b></label>
        <input type = "text" name = "nummales" name = "nummales" required>
        <label for = "numfemales"><b>Number of Females*</b></label>
        <input type = "text" name = "numfemales" name = "numfemales" required>
        <label for = "startdate"><b>Start Date*</b></label>
        <input type = "date" name = "startdate" required>
        <label for = "enddate"><b>End Date*</b></label>
        <input type = "date" name = "enddate" required><br/><br/>
        <h2>Now, please give us a little information about yourself!</h2>
        <label for = "firstname"><b>First Name*</b></label>
        <input type = "text" placeholder = "Enter First Name" name = "firstname" required>
        <label for = "lastname"><b>Last Name*</b></label>
        <input type = "text" placeholder = "Enter Last Name" name = "lastname" required>
        <label for="email"><b>Email*</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>
        <label for="phone"><b>Phone Number*</b></label></br>
        <input type='tel' placeholder = "Enter Phone Number"pattern='[0-9]{10}' title='Phone Number' name = 'phone'></br></br>
        <label for = "gender"><b>Gender*</b></label></br>
        <input type = "radio" name = "gender" value = "male" required>Male</br>
        <input type = "radio" name = "gender" value = "female" required>Female</br></br>
        <label for = "skills"><b>Special Skills (check all that apply)</b></label></br>
        <input type = "checkbox" name = "plumbing" value = "Plumbing " id = "plumbing">Plumbing</br>
        <input type = "checkbox" name = "gardening" value = "gardening" id = "gardening">Gardening/Landscaping</br>
        <input type = "checkbox" name = "electrical" value = "electrical" id = "electrical">Electrical</br>
        <input type = "checkbox" name = "cooking" value = "cooking" id = "cooking">Cooking</br>
        <input type = "checkbox" name = "carpentry" value = "carpentry" id = "carpentry">Carpentry</br>
        <input type = "checkbox" name = "painting" value = "painting " id = "painting">Painting</br>
        <input type = "checkbox" name = "masonry" value = "masonry " id = "masonry">Masonry</br>
        <input type = "checkbox" name = "organizational" value = "organizational " id = "organizational">Organizational Skills</br>
        <input type = "checkbox" name = "administration" value = "administration " id = "administration">Office Administration</br>
        <label for = "otherskills"><b>If you have other valuable skills that were not listed above, please specify below!</b></label>
        <input type = "text" placeholder = "Enter Other Skills" name = "otherskills" id = "otherskills"></br>
        <label for="health"><b>Please specify any allergies or medical conditions we should be aware of</b></label>
        <input type="text" placeholder="Enter Allergies/Medical Conditions" name="health"><br/>
        <a href="https://www.google.com/" class="button" target = "_blank">Please click here to complete the background check</a></br></br>
        <div class="clearfix">
          <button type="submit" class="signupbtn">Complete Group Registration</button>
        </div>
      </div>
    </form>
  </div>

</body>
</html>
