<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="#">
  <meta charset = "UTF-8">
  <meta name = "viewport" content= "width = device-width, initial-scale = 1.0">
  <link rel = "stylesheet" type = "text/css" href = "/styles/styles.css">
</head>
<body>
  <div class="sidenav">
    <img src="/WWRanchLogo.JPG" style="width:100%"  alt="WWRanchLogo">
    <a href='infoRequest'>Request Additional Information</a>
    <a href='signup'>Sign Up</a>
    <a href='login'>Log In</a>
    //<a href="http://localhost:3000/seedDB">Seed Local Database</a>
    <a href="https://wildwoodhillsranch.herokuapp.com/seedDB">Seed Heroku Database</a>
  </div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
  }
</script>

<div class = "modal-content">
  <h1 align = "center">Welcome to the Mission Group Portal!</h1>

  <h2 style = "color:#FFCB2B; padding: 0px 30px 0px">Our Mission</h2>
  <p style = "padding: 0px 30px 0px">Wildwood Hills Ranch of Iowa exists to transform lives by providing healing, hope, and God's unconditional love to children and youth at risk.</p>
  <br/>
  <p style = "padding: 0px 30px 0px">In support of this mission, we partner with Mission Teams from churches and other organizations who want to serve Iowa's at risk youth.</p>
  <br/>
  <br/>
  <img src = "/WWHills_screenclips/picture 10.JPG" style = "width:40%; padding:5px 35px 5px">
  <img src = "/WWHills_screenclips/picture 12.JPG" style = "width:40%; padding:5px 5px 60px">

</div>

</body>
</html>
