<!DOCTYPE html>
<html>
<head>
  <meta charset = "UTF-8">
  <meta name = "viewport" content= "width = device-width, initial-scale = 1.0">
  <link rel = "stylesheet" type = "text/css" href = "/styles/styles.css">
</head>

<body>
  <div class="sidenav">
    <img src="/WWRanchLogo.JPG" style="width:100%"  alt="WWRanchLogo">
    <a href= 'volunteerRegistration'>Add Volunteer</a>
    <a href='projects'>Update Projects List(Add/Mark Complete)</a>
    <a href='groupRegistration'>Add Mission Group</a>
    <a href='volunteerReport'>View Volunteer Report</a>
    <a href='groupReport'>View Group Report</a>
    <a href='housingAssignments'>View Housing Report</a>
    <a href='addHousingUnit'>Add Housing Unit</a>
    <a href='housingAssignments'>Assign Housing</a>
    <a href='addStaff'>Add Staff Member</a>
    <a href="http://localhost:3000/seedDB">Seed Local Database</a>
    <!--<a href="https://wildwoodhillsranch.herokuapp.com/seedDB">Seed Heroku Database</a>-->
    <a href="https://arcane-plains-96288.herokuapp.com/seedDB">Seed Heroku Database</a>
  </div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
  }
</script>

</body>
</html>
